altgraph==0.16.1
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
autopep8==1.4.3
backports-abc==0.5
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
cx-Freeze==5.1.1
dis3==0.1.2
Django==1.11.16
docutils==0.14
enum34==1.1.6
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
google-search-results==1.2.4
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
lxml==4.2.5
macholib==1.11
MarkupSafe==1.1.0
parsel==1.5.1
pefile==2018.8.8
psutil==5.4.8
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycparser==2.19
PyDispatcher==2.0.5
pygame==1.9.4
Pygments==2.2.0
PyHamcrest==1.9.0
PyInstaller==3.4
pyOpenSSL==18.0.0
pypiwin32==223
PySide==1.2.4
pytz==2018.7
pywin32==224
pywin32-ctypes==0.2.0
QDarkStyle==2.6.4
qtgui==0.0.1
queuelib==1.5.0
requests==2.20.1
Scrapy==1.5.1
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.14
tornado==5.1.1
Twisted==18.9.0
urllib3==1.24.1
w3lib==1.19.0
Werkzeug==0.14.1
zope.interface==4.6.0
